*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #000000;
  text-rendering: geometricPrecision;
}

html {
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
}

body,
button,
input,
textarea {
  font-family: "DM Sans", sans-serif;
}


a {
  text-decoration: none;
}